.page-header {
    background-image: url(../../images/portada.png);
}

@media (max-width: 768px) {
    .page-header {
        background-image: url(../../images/portada-movil.png) !important;
        background-size: contain !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        background-color: #fece00;
    }
}

.navbar-brand {
    font-size: 1.5em;
}

.subcat-titulo {
    margin-right: 1em;
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
}
.subcat-titulo p {
    display: inline;
    background-color: orange;
    padding-left: 1em;
    padding-right: 1em;
}
.subcat-titulo img {
    display: inline;
    max-height: 30px;
}
.subcat-flecha {
    background-color: white;
    color: orange;
    margin-right: 1em;
    margin-left: 0.5em;
}
.footer .nav-link {
    color: black !important;
}
.footer .copyright {
    color: black !important;
}